<a href="https://colab.research.google.com/github/jieun334/22_05_basic_python/blob/main/ch3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
x = 10 
print("x=", x)
x = 3.14
print("x=", x)
x = "Hello World!"
print("x=",x)

x= 10
x= 3.14
x= Hello World!

In [3]:
x = input("정수를 입력하시오.")
y = input("정수를 입력하시오.")
print(x+y)

정수를 입력하시오.100
정수를 입력하시오.200
100200

In [5]:
x = int(input("정수를 입력하시오."))
y = int(input("정수를 입력하시오."))
print(x+y)

정수를 입력하시오.100
정수를 입력하시오.200
300

In [6]:
t = input("정수를 입력하시오.")
x = int(t)

t = input("정수를 입력하시오.")
y = int(t)

print(x+y)

정수를 입력하시오.100
정수를 입력하시오.200
300